table {
    background-color: green;
    border: 10px solid black;
    margin:auto;
}

td {
    border: 2px solid gray;
    width: 90px;
    height: 90px;
    text-align: center;
    padding:auto;
}

img{
    display:block;
    margin:auto;
}

.btn{
  color: #fff;
  background-color: gray;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: white;
  border-radius: 0.5rem;
  margin:20px;
}
  

#BT{
    text-align: center;
}

.btn:hover{
    color: #fff;
    background:  black;
}
